<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Sample App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
	<style>
		.container {
			width: 100%;
			min-height: 300px;
			padding: 25px;
		}
		.left-btn,
		.top-btn,
		.right-btn,
		.bottom-btn {
			margin: 90px 30px;
		}
		.left-btn {
			margin-left: 200px;
		}
		.top-btn {

		}
		.right-btn {
			margin-right: 170px;
		}
		.bottom-btn {

		}
	</style>
  </head>
  <body>
    <div id='root'></div>
  </body>
</html>
