body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 16px;
}

a {
    color: #00bcd4;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.4s;
}

    a:hover {
        color: #1976d2;
    }

.text-center {
    text-align: center;
}

.top-bar {
    padding: 10px 15px;
    margin-bottom: 50px;
}

    .top-bar::after {
        content: '';
        display: block;
        clear: both;
    }

.top-bar-left {
    float: left;
    font-size: 0.8em;
}

.top-bar-right {
    float: right;
    padding-top: 20px;
}

.top-bar a,
.nav a {
    margin: 0 8px;
}

.container {
    margin: 0 auto;
    text-align: center;
    width: 700px;
    display: grid | inline-grid | subgrid !important;
}

.container-grid {
    margin: 0 auto;
    text-align: center;
    width: 700px;
    display: grid | inline-grid | subgrid !important;
}

.period-container {
    margin: 0 auto;
    text-align: center;
    width: 500px;
    height: 100%;
}

.card-heading {
    padding: 16px;
}

.field-line, .button-line {
    padding: 16px;
    color: #fff !important;
}

.error-message {
    padding: 0 16px;
    color: tomato;
}

.success-message {
    padding: 0 16px;
    color: green;
}

.center-container {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    padding: 20px;
}

.app-background {
    background: linear-gradient(rgba(244,244,244,1),rgba(244, 244, 244,1)); /*,url(http://www.crescent.se/wp-content/uploads/2015/06/150409_elcykel_crescent-5-1050x700.png) no-repeat center center fixed*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 140vh;
}

.logo {
    height: 100px;
    float: left;
    margin-top: 30px;
}

.textLeft {
    width: 500px;
}

.cardbottom {
    margin-bottom: 250px;
}

.cardbottomReg {
    margin-bottom: 210px;
}

.cardbottomFot {
    margin-bottom: 50px;
}

.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer {
    height: 150px;
}

.footerInLoggad {
    margin-top: 60px;
    height: 150px;
}

.footerLogIn {
    margin-top: 270px;
    height: 150px;
}

ul {
    list-style-type: none;
}

ul > li.next {
  margin-top: 33px;
}

.page {
    width: 90%;
}

.img-grid {
    width: 100%;
    margin: 0 auto;
    margin-top: .5%;
}

.img-wrapper {
    display: inline-block;
    width: 50%;
    position: relative;
    float: left;
}

    .img-wrapper .img-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

img {
    width: 100%;
}

.img-wrapper:after {
    content: "";
    padding-top: 100%;
    display: block;
}

.img-wrapper {
    width: 49.75%;
}

.img-wrapper {
    margin-left: .5%;
}

.img-wrapper {
    margin-top: .5%;
}

.img-wrapper {
    margin-top: .5%;
    margin-left: .5%;
}

.bikeOn {
    opacity: 0.2;
}

.bikeOff {
    opacity: 1;
}

.gridlist {
    padding: 20px;
    max-width: 800px;
    height: 540px;
}

.gridlist-content {
    max-width: 520px;
    height: 445px;
}

.btnPeriodColor {
    background-color: #d43b00 !important;
}

.merinfo {
    color: #ffffff !important;
    background-color: 'rgba(174, 11, 5, 0.8)' !important;
}

    .loginBtn span, .registerBtn span, .merinfo span {
        color: #ffffff !important;
        background-color: 'rgba(174, 11, 5, 0.8)' !important;

    }

.panel-default > .panel-heading {
    "background-color": "rgb(174, 11, 5)" !important;
}

div.panel-danger > .panel-heading {
    background-image: none !important;
    background-color: rgba(174, 11, 5, 1) !important;
}

.grid-title, .grid-title div {
    background-color: #fff !important;
    background: none;
    background-image: none;
    color: rgba(174, 11, 5, 1) !important;
}

.periodbtns {
    background-color: rgba(174, 11, 5, 1);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.admprofile {
    height: 130px !important;
}

.userprofile {
    height: 60px !important;
}

/*======================================================= Top Navbar ===========================================================*/

.topnav {
    overflow: hidden;
    background-color: rgba(174, 11, 5, 1);
}

    .topnav a, .appbar {
        float: left;
        display: block;
        color: rgba(255,255,255,1);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover, .appbar:hover {
            background-color: rgba(153,153,153,.3);
            color: rgba(255,255,255,1);
        }

    .topnav .icon {
        display: none;
    }

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .appbar:not(:first-child) {
        display: none;
    }

    .topnav a.icon, .appbar {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a, .appbar {
            float: none;
            display: block;
            text-align: left;
        }
}
/*======================================================= Top Navbar End ===========================================================*/

/*======================================================= React Data Grid ===========================================================*/


.link-right {
  position: absolute;
  right: 0px;
  padding: 10px;
}

.link-right a {
  padding: 10px;
}

.disabled-link {
  cursor: not-allowed;
  color: lightgrey
}

.disabled-link:hover {
  color: lightgray;
}

/*======================================================= React Data Grid End ===========================================================*/


.col-md-3 strong{
  background-color: background-color: rgba(174, 11, 5, 1);
  padding: 5px;
  display: inline-block;
}

.col-md-3 {
  padding: 5px;
  display: inline-block;
}

/*======================================================= FORGOT PASSWORD ===========================================================*/

.gobacktopright {
  margin: 0;
  top: 0;
  left: 0;
  width: 40%;

}

/*======================================================= FORGOT PASSWORD END  ===========================================================*/


/*======================================================= PICKUP DATE AND TIME  ===========================================================*/
label[for=biketidselection] {
  left: 0 !important;
}

div[id=biketidselection] * {
    float: left !important;
}
/*======================================================= PICKUP DATE AND TIME END  ===========================================================*/


/*======================================================= BOOKING A BIKE ===========================================================*/
.color-red {
    color: red;
}

/*======================================================= BOOKING A BIKE END ===========================================================*/
