body {
  margin: 0;
  font-size: 16px;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 50px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
  padding-top: 20px;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

.period-container {
  margin: 0 auto;
  text-align: center;
  width: 500px;
  height: 100%;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}
.center-container {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  padding: 20px;
}

.app-background {
  background: linear-gradient(rgba(50,160,185,.8),rgba(255,	255,	255, .8)),url(http://www.crescent.se/wp-content/uploads/2015/06/150409_elcykel_crescent-5-1050x700.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height:140vh;
}

.logo {
  height: 100px;
  float: left;
  margin-top: 30px;
}

.textLeft {
  width: 500px;
}

.cardbottom {
  margin-bottom: 250px;
}

.cardbottomReg {
 margin-bottom: 210px;
}

.cardbottomFot {
  margin-bottom: 50px;
}

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer {
  height: 150px;
}

.footerInLoggad {
  margin-top: 60px;
  height: 150px;
}

.footerLogIn {
  margin-top: 270px;
  height: 150px;
}

ul{
  list-style-type: none;
}

.page {
	width:90%;
}

.img-grid {
	width:100%;
	margin:0 auto;
	margin-top:.5%;
}

.img-wrapper {
	display:inline-block;
	width:50%;
	position:relative;
	float:left;
}

.img-wrapper .img-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

img {
	width:100%;
}

.img-wrapper:after {
	content:"";
	padding-top:100%;
	display:block;
}

.img-wrapper {
	width: 49.75%;
 }
.img-wrapper {
	margin-left:.5%;
}
.img-wrapper {
	margin-top:.5%;
}
.img-wrapper {
	margin-top:.5%;
	margin-left:.5%;
}

.bikeOn{
  opacity: 0.2;
}
.bikeOff{
  opacity: 1;
}

.gridlist {
  padding: 20px;
  max-width: 500px;
  height: 440px;
}

.gridlist-content {
  max-width: 520px;
  height: 445px;
}
